.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #00b3ff;
}
.home-container1 {
  width: 482px;
  height: 130px;
  display: flex;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #000000;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  border-color: #000000;
  border-style: solid;
  border-width: 5px;
  margin-bottom: 71px;
  flex-direction: column;
  justify-content: center;
  background-color: #b69eff;
}
.home-text {
  font-size: 70px;
  align-self: center;
  font-family: "Comic Sans MS";
}
.home-container2 {
  top: 228px;
  left: 0px;
  right: 0px;
  width: 389px;
  height: 77px;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 5PX;
  flex-direction: column;
  background-color: #D9D9D9;
}
.home-text01 {
  top: 249px;
  left: 0px;
  right: 0px;
  width: 358px;
  margin: auto;
  position: absolute;
}
.home-container3 {
  top: 341px;
  left: 0px;
  right: 0px;
  width: 899px;
  height: 423px;
  margin: auto;
  display: flex;
  opacity: 1;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #000000,5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 5px;
  margin-bottom: auto;
  justify-content: center;
  background-color: #7547ff;
}
.home-link {
  display: contents;
}
.home-container4 {
  top: 110px;
  flex: 0 0 auto;
  left: 68px;
  width: 195px;
  height: 45px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #90cbff;
}
.home-text04 {
  font-family: "Comic Sans MS";
}
.home-link1 {
  display: contents;
}
.home-pasted-image {
  top: 174px;
  left: 30px;
  width: 266px;
  height: 198px;
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 5px;
  text-decoration: none;
}
.home-link2 {
  display: contents;
}
.home-container5 {
  top: 110px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 195px;
  height: 45px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 3PX;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #f4a0ff;
}
.home-text06 {
  font-family: "Comic Sans MS";
}
.home-link3 {
  display: contents;
}
.home-pasted-image1 {
  top: 175px;
  left: 317px;
  width: 266px;
  height: 198px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 5PX;
  text-decoration: none;
}
.home-link4 {
  display: contents;
}
.home-pasted-image2 {
  top: 175px;
  right: 18px;
  width: 266px;
  bottom: 28px;
  height: 198px;
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 5px;
  text-decoration: none;
}
.home-container6 {
  top: 110px;
  flex: 0 0 auto;
  right: 51px;
  width: 195px;
  height: 45px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  flex-direction: column;
  justify-content: center;
  background-color: #ff7f7f;
}
.home-link5 {
  display: contents;
}
.home-text08 {
  font-family: "Comic Sans MS";
  text-decoration: none;
}
.home-container7 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  color: var(--dl-color-gray-black);
  right: 0px;
  width: 438px;
  height: 58px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
  background-color: #86ffb9;
}
.home-text11 {
  font-family: "Comic Sans MS";
}
.home-text12 {
  font-family: "Comic Sans MS";
}
@media(max-width: 991px) {
  .home-container1 {
    width: 531px;
    margin-right: 0px;
  }
  .home-text {
    font-size: 70px;
  }
}
@media(max-width: 767px) {
  .home-container {
    background-color: #ffc4e9;
  }
  .home-container1 {
    width: 541px;
    height: 113px;
    margin-bottom: var(--dl-space-space-fourunits);
    padding-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .home-container {
    background-color: #ffc4e9;
  }
  .home-container1 {
    width: 373px;
  }
}
