.discovery-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #7d7d7d;
}
.discovery-container1 {
  width: 672px;
  height: 201px;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 5PX;
  flex-direction: column;
  justify-content: center;
  background-color: #3a3a4a;
}
.discovery-text {
  font-size: 90px;
  font-family: "Comic Sans MS";
}
.discovery-container2 {
  width: 936px;
  height: 705px;
  display: flex;
  position: relative;
  margin-top: 60px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 5PX;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.discovery-navlink {
  display: contents;
}
.discovery-container3 {
  top: 120px;
  flex: 0 0 auto;
  left: 20px;
  width: 321px;
  height: 250px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 5PX;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  background-color: #D9D9D9;
}
.discovery-text1 {
  margin-top: 10px;
  font-family: "Fira Sans";
  border-color: var(--dl-color-gray-black);
  border-width: 5PX;
  background-color: #97d6ff;
}
.discovery-text2 {
  font-family: "Fira Sans";
}
.discovery-container4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.discovery-image {
  width: 290px;
  height: 163px;
  margin-top: 10px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 5PX;
  margin-bottom: 10PX;
}
.discovery-navlink1 {
  display: contents;
}
.discovery-container5 {
  flex: 0 0 auto;
  left: 294px;
  width: 321px;
  bottom: 50px;
  height: 250px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 5PX;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  background-color: #D9D9D9;
}
.discovery-text4 {
  margin-top: 10px;
  font-family: "Fira Sans";
  margin-left: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 5PX;
  margin-right: 0px;
  margin-bottom: 10px;
  background-color: #a569ff;
}
.discovery-container6 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.discovery-image1 {
  width: 290px;
  height: 153px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 5PX;
  margin-bottom: var(--dl-space-space-unit);
}
.discovery-text5 {
  top: 2px;
  left: 261px;
  margin: auto;
  position: absolute;
  align-self: center;
  font-family: "Comic Sans MS";
  border-color: var(--dl-color-gray-black);
  border-width: 5px;
  background-color: rgb(255, 255, 255);
}
.discovery-container7 {
  top: 120px;
  flex: 0 0 auto;
  right: 20px;
  width: 321px;
  height: 250px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 5PX;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.discovery-navlink2 {
  display: contents;
}
.discovery-text6 {
  margin-top: 10PX;
  font-family: "Fira Sans";
  border-color: var(--dl-color-gray-black);
  border-width: 5PX;
  margin-bottom: 10PX;
  text-decoration: none;
  background-color: rgb(253, 71, 71);
}
.discovery-navlink3 {
  display: contents;
}
.discovery-container8 {
  width: 290px;
  height: 180PX;
  display: flex;
  align-items: center;
  border-color: #000000;
  border-style: solid;
  border-width: 5PX;
  margin-bottom: var(--dl-space-space-unit);
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/pastedimage-2jxd-1500h.png");
  background-position: center;
}
