.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ff999a;
}
.home-container1 {
  width: 370px;
  height: 143px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  border-color: #000000;
  border-style: solid;
  border-width: 5px;
  margin-bottom: 71px;
  flex-direction: column;
  justify-content: center;
  background-color: #698eff;
}
.home-text {
  font-size: 70px;
  align-self: center;
  font-family: "Comic Sans MS";
}
.home-container2 {
  width: 876px;
  height: 1301px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #000000;
  border-style: solid;
  border-width: 5PX;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 70px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  background-color: #d1ffb1;
}
.home-text01 {
  align-self: center;
  font-family: "Comic Sans MS";
}
.home-iframe {
  top: 742px;
  left: 201px;
  width: 457px;
  height: 268px;
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 5px;
}
.home-container3 {
  left: 0px;
  right: 0px;
  width: 632px;
  bottom: 64px;
  height: 167px;
  margin: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 5px;
  padding-left: 13px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  background-color: #fffa66;
}
.home-text05 {
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-family: "Noto Sans";
}
.home-container4 {
  top: 113px;
  left: 0px;
  right: 0px;
  width: 677px;
  height: 282px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  padding-top: 37px;
  border-color: var(--dl-color-gray-black);
  border-width: 5PX;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ffb558;
}
.home-text11 {
  top: 35px;
  left: -1px;
  margin: auto;
  position: absolute;
}
.home-text14 {
  align-self: center;
  font-family: "Comic Sans MS";
}
.home-iframe1 {
  top: 432px;
  left: 193px;
  width: 468px;
  height: 285px;
  position: absolute;
}
@media(max-width: 991px) {
  .home-container1 {
    width: 531px;
    margin-right: 0px;
  }
  .home-text {
    font-size: 70px;
  }
  .home-container2 {
    width: 793px;
    height: 1105px;
  }
  .home-container3 {
    left: 0px;
    right: 0px;
    width: 693px;
    bottom: 35px;
    height: 197px;
    margin: auto;
    position: absolute;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: 14px;
  }
  .home-text08 {
    align-self: center;
  }
  .home-container4 {
    top: 131px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-text11 {
    align-self: center;
  }
  .home-iframe1 {
    top: 338px;
    left: 118px;
  }
}
@media(max-width: 767px) {
  .home-container {
    background-color: #ffc4e9;
  }
  .home-container1 {
    width: 541px;
    height: 113px;
    margin-bottom: var(--dl-space-space-fourunits);
    padding-bottom: 0px;
  }
  .home-container2 {
    width: 692px;
    height: 1037px;
    padding-bottom: 0px;
  }
  .home-text01 {
    height: 41px;
    box-shadow: 5px 5px 10px 0px #000000;
    border-color: var(--dl-color-gray-black);
    border-width: 3px;
  }
  .home-container3 {
    left: 0px;
    right: 0px;
    width: 543px;
    bottom: 50px;
    height: 225px;
    margin: auto;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #000000;
  }
  .home-text08 {
    font-size: 15px;
  }
  .home-iframe1 {
    top: 350px;
    left: 77px;
    width: 431px;
    height: 290px;
    position: absolute;
    align-self: center;
  }
}
@media(max-width: 479px) {
  .home-container {
    background-color: #ffc4e9;
  }
  .home-container1 {
    width: 373px;
  }
  .home-container2 {
    width: 449px;
    height: 790px;
  }
  .home-container3 {
    width: 375px;
    height: 184px;
  }
}
